__pycache__/
*.pyc

*.log
*.out

checkpoints/
*.pt
*.pth
*.ckpt
*.pkl

data/
datasets_27d_vs_51d/
demonstrations/
demonstrations_her/
demonstrations_her_51d/
demonstrations_teleop/
demonstrations_teleop_51d/

videos/
videos_act/
videos_diff_27d_v2/
videos_diffusion/
*.mp4
*.avi
*.mov

.github/
.vscode/
.idea/
.DS_Store
